.card{
  padding: 1rem;
  margin: 1rem;
  border: 2px solid #ccc;
  background-color: azure;
  color: darkslategrey;
  
}

.form-control{
  margin-bottom: 0.5rem;

}

label{
  display: block;
}

input, select{
  padding: .15rem;
  background-color: #fff;
  color: darkslategrey;
}

button{
  background-color: #ccc;
  color: darkslategrey;
}